
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Tarifas
					</h1>
					<p>
						La cuota anual podrá realizarse en un único pago, en tres pagos o en cuatro.
					</p>
					<div class="table-responsive">
						<table class="table table--tarifas">
							<caption>Cuota anual</caption>
							<thead id="anual">
								<tr>
									<th>Socios</th>
									<th>Anual</th>
									<th>Semestral</th>
									<th>Trimestral</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Mayores de 18 años</td>
									<td>391,25€</td>
									<td>199,80€</td>
									<td>101,55€</td>
								</tr>
								<tr>
									<td>Mayores de 18 años</td>
									<td>391,25€</td>
									<td>199,80€</td>
									<td>101,55€</td>
								</tr>
								<tr>
									<td>De 14 a 17 años</td>
									<td>277,00€</td>
									<td>140,65€</td>
									<td>72,50€</td>
								</tr>
								<tr>
									<td>De 6 a 13 años</td>
									<td>188,15€</td>
									<td>96,00€</td>
									<td>50,05€</td>
								</tr>
								<tr>
									<td>De 2 a 5 años</td>
									<td>94,25€</td>
									<td>49,35€</td>
									<td>26,45€</td>
								</tr>
								<tr>
									<td>Cuota familiar</td>
									<td>313,85€</td>
									<td>159,25€</td>
									<td>82,25€</td>
								</tr>
								<tr>
									<td>De 65 a 69 años</td>
									<td>313,85€</td>
									<td>159,25€</td>
									<td>82,25€</td>
								</tr>
								<tr>
									<td>De 70 a 75 años</td>
									<td>268,10€</td>
									<td>149,80€</td>
									<td>77,66€</td>
								</tr>
								<tr>
									<td>Mayores de 76 años</td>
									<td>200,25€</td>
									<td>156,80€</td>
									<td>98,55€</td>
								</tr>
							</tbody>
						</table>
					</div>

					<p>
						Los nuevos socios deberán abonar una única vez una cuota de entrada.
					</p>
					<div class="table-responsive">
						<table class="table table--tarifas">
							<caption>Cuota entrada</caption>
							<thead id="entrada">		
								<tr>
									<th colspan="2">Individual</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Mayores de 18 años</td>
									<td>1.200,00€</td>
								</tr>
								<tr>
									<td>De 14 a 17 años</td>
									<td>950,00€</td>
								</tr>
								<tr>
									<td>De 6 a 13 años</td>
									<td>670,00€</td>
								</tr>
								<tr>
									<td>De 2 a 5 años</td>
									<td>270,00€</td>
								</tr>
							</tbody>
							<thead>
								<tr>
									<th colspan="2">Familiar</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Cabeza de familia</td>
									<td>1.200,00€</td>
								</tr>
								<tr>
									<td>Cónyuge</td>
									<td>1.100,00€</td>
								</tr>
								<tr>
									<td>Hijo mayor de 18 años</td>
									<td>720,00€</td>
								</tr>
								<tr>
									<td>Hijo de 14 a 17 años</td>
									<td>480,00€</td>
								</tr>
								<tr>
									<td>Hijo de 6 a 13 años</td>
									<td>270,00€</td>
								</tr>
								<tr>
									<td>Hijo de 2 a 5 años</td>
									<td>200,00€</td>
								</tr>
							</tbody>
							<thead>
								<tr>
									<th colspan="2">Otros</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Cónyuge de socio</td>
									<td>900,00€</td>
								</tr>
								<tr>
									<td>Padres de socio</td>
									<td>1.100,00€</td>
								</tr>
								<tr>
									<td>Hijo de socio mayor de 18 años</td>
									<td>1.100,00€</td>
								</tr>
								<tr>
									<td>Hijo de socio de 14 a 17 años</td>
									<td>660,00€</td>
								</tr>
								<tr>
									<td>Hijo de socio de 6 a 13 años</td>
									<td>450,00€</td>
								</tr>
								<tr>
									<td>Hijo de socio de 2 a 5 años</td>
									<td>200,00€</td>
								</tr>
							</tbody>
						</table>
					</div>
					<p>
						El precio de las actividades podrá abonarse una vez cada curso o trimestralmente.
					</p>
					<div class="table-responsive">
						<table class="table table-responsive table--tarifas">
							<caption>Actividades</caption>
							<thead>	
								<tr>
									<th id="actividades">Actividad</th>
									<th>Precio anual</th>
									<th>Precio semestral</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Spinning</td>
									<td>135,00€</td>
									<td>50,50€</td>
								</tr>
								<tr>
									<td>Core abdominal</td>
									<td>122,25€</td>
									<td>41,80€</td>
								</tr>
								<tr>
									<td>Pilates</td>
									<td>137,00€</td>
									<td>50,65€</td>
								</tr>
								<tr>
									<td>Yoga</td>
									<td>148,15€</td>
									<td>56,40€</td>
								</tr>
								<tr>
									<td>Zumba</td>
									<td>150,00€</td>
									<td>53,35€</td>
								</tr>
							</tbody>
						</table>
					</div>
					<p>
						También el precio de los deporte pueden abonarse trimestralmente o anualmente.
					</p>
					<div class="table-responsive">
						<table class="table table-responsive table--tarifas">
							<caption>Deportes</caption>
							<thead>
								<tr>
									<th>Deporte</th>
									<th>Socio</th>
									<th>Precio anual</th>
									<th>Precio semestral</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td rowspan="2" class="deporte">Fútbol</td>
									<td>Sí</td>
									<td>350,00€</td>
									<td>130,50€</td>
								</tr>
								<tr>
									<td>No</td>
									<td>500,00€</td>
									<td>190,50€</td>
								</tr>
								<tr>
									<td rowspan="2" class="deporte">Dantza</td>
									<td>Sí</td>
									<td>60,00€</td>
									<td>25,00€</td>
								</tr>
								<tr>
									<td>No</td>
									<td>150,00€</td>
									<td>60,00€</td>
								</tr>
							</tbody>
						</table>
					</div>
					<p>
						Aquí se muestran los precios de otras actividades que pueden interesarle.
					</p>
					<div class="table-responsive">
						<table class="table table-responsive table--tarifas">
							<caption>Otros</caption>
							<thead>
								<tr>
									<th>Actividad</th>
									<th>Precio</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td id="ludoteca">Ludoteca</td>
									<td>100€/año</td>
								</tr>
								<tr>
									<td id="masajista">Masajista</td>
									<td>20€/sesión</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}