
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					
					<div class="parrafo">
						Aquí le mostramos algunos de los temas de interés común de la mayoría de usuarios.
						Para obtener más información sobre alguno de los temas que muestra la imagen pulse en ella.
					</div>
					<div class="u-display-flex">
						<button tabindex="8" class="button-slide button-slide--left" onclick="plusDivs(-1)">&lt; Anterior</button>
						<button tabindex="9" class="button-slide button-slide--right" onclick="plusDivs(1)">Siguiente &gt;</button>
					</div>
					<div aria-live="polite" class="bloque-slide u-margin-bottom-superhero">
						<a aria-hidden="false" aria-roledescription="slide" href="../balneario" alt="Enlace a balneario">
							<img class="image-slide" src="../../assets/images/balneario.webp" alt="Una piscina con tres chorros de diferentes anchuras y potencias">
						</a>
						<a aria-hidden="true" aria-roledescription="slide" href="../ofertas" alt="Enlace a ofertas">
							<img class="image-slide" src="../../assets/images/2x1.webp" alt="Letras 2 por 1">
						</a>
						<a aria-hidden="true" aria-roledescription="slide" href="../actividadesInfantiles" alt="Enlace a actividades infantiles">
							<img class="image-slide" src="../../assets/images/campamento-urbano.webp" alt="Unos niños con las manos en la cabeza imitando la aleta superior de un tiburón">
						</a>
						<a aria-hidden="true" aria-roledescription="slide" href="../verano" alt="Enlace a información sobre verano">
							<img class="image-slide" src="../../assets/images/fiestas.webp" alt="Piscina con mucha gente de diferentes edades con juguetes e hinchables.">
						</a>
						<a aria-hidden="true" aria-roledescription="slide" href="../ludoteca" alt="Enlace a información sobre ludoteca">
							<img class="image-slide" src="../../assets/images/ludoteka.webp" alt="Niños jugando con casas de muñecas.">
						</a>
					</div>
					
					<div class="row">
						<div class="col-lg-3 col-md-4 col-xs-12">
							<div class="bloque-media">
								<img src="../../assets/images/bloque-media/horario.webp" class="imagen-bloque-media" alt="Reloj analógico con números romanos">
								<h2 class="titulo-media">
									Horario
								</h2>
								<p class="texto-media">
									Horario instalaciones: 9:00-21:00
								</p>
								<p class="texto-media">
									Horario cafetería: 10:00-22:30 (lunes a jueves); 10:00-00:00 (viernes a domingo y vispera de festivos)
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-12">
							<div class="bloque-media">
								<img src="../../assets/images/bloque-media/restaurante.webp" class="imagen-bloque-media" alt="Un plato con una cuchara y un cuchillo a sus lados">
								<h2 class="titulo-media">
									Cafetería
								</h2>
								<p class="texto-media">
									Encontrará una gran variedad de platos combinados, bocatas e incluso menús.
									Además, también ofrecemos aperitivos durante todo el día: tortillas, bocadillos, cafés...
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-12">
							<div class="bloque-media">
								<img src="../../assets/images/bloque-media/direccion.webp" class="imagen-bloque-media" alt="Símbolo de ubicación GPS señalando a un círculo horizontal.">
								<h2 class="titulo-media">
									Dirección
								</h2>
								<p class="texto-media">
									Podrá encontrarnos en la dirección: Calle de Madrid s/n 31151 Pamplona (NAVARRA)
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-12">
							<div class="bloque-media">
								<img src="../../assets/images/bloque-media/contacto.webp" class="imagen-bloque-media " alt="Símbolo de teléfono dentro de un círculo pintado de negro.">
								<h2 class="titulo-media">
									Contacto
								</h2>
								<p class="texto-media">
									Teléfono: <a class="u-font-bold" href="tel:948774373">948 774 373</a>
								</p>
								<p class="texto-media">
									Correo: <a class="u-font-bold" href="mailto:upnasports@gmail.com">upnasports@gmail.com</a>
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-12">
							<div class="bloque-media">
								<img src="../../assets/images/bloque-media/patrocinadores.webp" class="imagen-bloque-media" alt="Logos de Mediaset, El Corte Inglés, Iberdrola y Dia">
								<h2 class="titulo-media">
									Patrocinadores
								</h2>
								<p class="texto-media">
									El Corte Inglés, Mediaset, Iberdrola y Dia
								</p>
								<p class="texto-media">
									Además, Bar Baviera patrocina a nuestro equipo de tenis de mesa. 
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-12">
							<div class="bloque-media">
								<img src="../../assets/images/bloque-media/instalaciones.webp" class="imagen-bloque-media" alt="Campo de fútbol con un balón en medio">
								<h2 class="titulo-media">
									Espacios
								</h2>
								<p class="texto-media">
									Nuestro club contiene una gran variedad de instalaciones. Ya sean deportivas, 
									campo de fútbol, pistas de tenis... o para pasar tiempo en familia: piscinas interna, 
									piscina externa, bar-cafetería...
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-12">
							<div class="bloque-media">
								<img src="../../assets/images/bloque-media/actividades.webp" class="imagen-bloque-media" alt="Cinco niños con raquetas y balones de diferentes deportes.">
								<h2 class="titulo-media">
									Actividades
								</h2>
								<p class="texto-media">
									Ofrecemos también una gran variedad de actividades, tanto competitivas: 
									baloncesto, fútbol, tenis... como no competitivas: yoga, spinning, core abdominal...
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-12">
							<div class="bloque-media">
								<img src="../../assets/images/bloque-media/rrss.webp" class="imagen-bloque-media" alt="Logos de twitter y facebook">
								<h2 class="titulo-media">
									Redes sociales
								</h2>
								<p class="texto-media">
									Síguenos en nuestras redes sociales:
								</p>
								<p class="texto-media">
									<span class="u-font-bold">Twitter:</span> <a target="_blank" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw">upnasports</a> 
								</p>
								<p class="texto-media">
									<span class="u-font-bold">Facebook:</span> <a target="_blank" href="https://www.facebook.com/facebook">upnasports</a>
								</p>

							</div>
						</div>
					</div>
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d211.27391695410753!2d-1.6295577250168483!3d42.79638602650308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1599561150098!5m2!1ses!2ses" width="100%" height="300" frameborder="0" allowfullscreen="" aria-hidden="false"></iframe>
				</div>
			</div>
		</div>
	</section>

	

{% endblock %}