
{% extends "layouts::page-home.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<div class="u-padding-vertical-huge u-padding-horizontal-huge">
						Aquí le mostramos algunos de los temas de interés común de la mayoría de usuarios.
						Para obtener más información sobre alguno de los temas que muestra la imagen pulse en ella.
					</div>
					<div class="bloque-slide u-margin-bottom-superhero">
						<a href="../balneario" alt="Balneario">
							<img class="image-slide" src="../../assets/images/balneario.jpg" alt="Coronavirus">
						</a>
						<a href="../ofertas">
							<img class="image-slide" src="../../assets/images/2x1.jpg" alt="Descuentos">
						</a>
						<a href="../actividades-infantiles">
							<img class="image-slide" src="../../assets/images/campamento-urbano.jpg" alt="Actividades infantiles">
						</a>
						<a href="../verano">
							<img class="image-slide" src="../../assets/images/fiestas.jpg" alt="Verano">
						</a>
						<a href="../ludoteca" alt="Ludoteca">
							<img class="image-slide" src="../../assets/images/ludoteka.jpg" alt="Ludoteca">
						</a>

						<button class="button-slide button-slide--left" onclick="plusDivs(-1)">&#11207;</button>
						<button class="button-slide button-slide--right" onclick="plusDivs(1)">&#11208;</button>
					</div>
					
					<div class="row">
						<div class="col-lg-3 col-md-4 col-xs-12">
							<div class="bloque-media">
								<img src="../../assets/images/bloque-media/horario.jpg" class="imagen-bloque-media">
								<h2 class="titulo-media">
								Horario
								</h2>
								<p class="texto-media">
									Horario instalaciones: 9:00-21:00
								</p>
								<p class="texto-media">
									Horario cafetería: 10:00-22:30 (lunes a jueves); 10:00-00:00 (viernes a domingo y vispera de festivos)
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-12">
							<div class="bloque-media">
								<img src="../../assets/images/bloque-media/restaurante.jpg" class="imagen-bloque-media">
								<h2 class="titulo-media">
									Cafetería
								</h2>
								<p class="texto-media">
									Encontrará una gran variedad de platos combinados, bocatas e incluso menús.
									Además, también ofrecemos aperitivos durante todo el día: tortillas, bocadillos, cafés...
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-12">
							<div class="bloque-media">
								<img src="../../assets/images/bloque-media/direccion.jpg" class="imagen-bloque-media">
								<h2 class="titulo-media">
									Dirección
								</h2>
								<p class="texto-media">
									Podrá encontrarnos en la dirección: Calle de Madrid s/n 31151 Pamplona (NAVARRA)
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-12">
							<div class="bloque-media">
								<img src="../../assets/images/bloque-media/contacto.jpg" class="imagen-bloque-media">
								<h2 class="titulo-media">
									Contacto
								</h2>
								<p class="texto-media">
									Teléfono: 948 774 373
								</p>
								<p class="texto-media">
									Correo: upnasports@gmail.com
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-12">
							<div class="bloque-media">
								<img src="../../assets/images/bloque-media/patrocinadores.jpg" class="imagen-bloque-media">
								<h2 class="titulo-media">
									Patrocinadores
								</h2>
								<p class="texto-media">
									El Corte Inglés, Mediaset, Iberdrola y Dia
								</p>
								<p class="texto-media">
									Además, Bar Baviera patrocina a nuestro equipo de tenis de mesa. 
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-12">
							<div class="bloque-media">
								<img src="../../assets/images/bloque-media/instalaciones.jpg" class="imagen-bloque-media">
								<h2 class="titulo-media">
									Espacios
								</h2>
								<p class="texto-media">
									Nuestro club contiene una gran variedad de instalaciones. Ya sean deportivas, 
									campo de fútbol, pistas de tenis... o para pasar tiempo en familia: piscinas interna, 
									piscina externa, bar-cafetería...
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-12">
							<div class="bloque-media">
								<img src="../../assets/images/bloque-media/actividades.jpg" class="imagen-bloque-media">
								<h2 class="titulo-media">
									Actividades
								</h2>
								<p class="texto-media">
									Ofrecemos también una gran variedad de actividades, tanto competitivas: 
									baloncesto, fútbol, tenis... como no competitivas: yoga, spinning, core abdominal...
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-xs-12">
							<div class="bloque-media">
								<img src="../../assets/images/bloque-media/rrss.png" class="imagen-bloque-media">
								<h2 class="titulo-media">
									Redes sociales
								</h2>
								<p class="texto-media">
									Síguenos en nuestras redes sociales:
								</p>
								<p class="texto-media">
									<span class="u-font-bold">Twitter:</span> upnasports
								</p>
								<p class="texto-media">
									<span class="u-font-bold">Facebook:</span> upnasports
								</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}