
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Actividades infantiles
					</h1>
					<div class="parrafo">
						<p>
							Ofrecemos actividades infantiles diferentes dependiendo de la edad del niño o la niña. 
							También contamos con un horario de <a href="../tarifas/#ludoteca" class="link">ludoteca</a> los sábados a la mañana para niños de entre 3 y 13 años. Se separará 
							en dos grupos por edades, y realizarán actividades y deportes ajustadas a ella. 
							Si quiere ver las tarifas de la ludoteca, pulse en el siguiente enlace
						</p>
						<a href="../tarifas/#actividades" class="btn btn-primary">
							Ver tarifas
						</a>
					</div>
					<form class="bloque-elige">
						<select id="rango-edad">
							<option value="0">Elija rango de edad</option>
							<option value="1">3-5 años</option>
							<option value="2">6-8 años</option>
							<option value="3">9-13 años</option>
						</select>
					</form>
					<div class="bloque--caja bloque--vacio">
						<div>
							Elija un rango de edad para ver las actividades correspondientes a ella.
						</div>
					</div>
					<div class="bloque--caja bloque--tres-cinco u-display-none">
						<div>
							<p class="titulo--deporte">Natación</p>
							<p>
								Lunes y Miércoles de 17:00 a 18:00
							</p>
							<p>
								Martes y Jueves de 17:00 a 18:00
							</p>
						</div>
						<div>
							<p class="titulo--deporte">Fútbol</p>
							<p>
								Lunes y Miércoles de 17:00 a 18:00
							</p>
							<p>
								Martes y Jueves de 17:00 a 18:00
							</p>
						</div>
						<div>
							<p class="titulo--deporte">Dantza</p>
							<p>
								Viernes de 17:30 a 19:00
							</p>
						</div>
					</div>

					<div class="bloque--caja bloque--seis-ocho u-display-none">
						<div>
							<p class="titulo--deporte">Natación</p>
							<p>
								Lunes y Miércoles de 18:00 a 19:00
							</p>
							<p>
								Martes y Jueves de 18:00 a 19:00
							</p>
						</div>
						<div>
							<p class="titulo--deporte">Fútbol</p>
							<p>
								Lunes y Miércoles de 18:00 a 19:00
							</p>
							<p>
								Martes y Jueves de 18:00 a 19:00
							</p>
						</div>
						<div>
							<p class="titulo--deporte">Dantza</p>
							<p>
								Lunes y Viernes de 17:30 a 19:00
							</p>
						</div>
						<div>
							<p class="titulo--deporte">Baloncesto</p>
							<p>
								Miércoles y Viernes de 17:30 a 19:00
							</p>
						</div>
						<div>
							<p class="titulo--deporte">Ajedrez</p>
							<p>
								Martes y Jueves de 17:30 a 19:00
							</p>
							<p>
								Viernes de 17:00 a 20:00
							</p>
						</div>
					</div>

					<div class="bloque--caja bloque--nueve-trece u-display-none">
						<div>
							<p class="titulo--deporte">Natación</p>
							<p>
								Lunes y Miércoles de 19:00 a 20:00
							</p>
							<p>
								Martes y Jueves de 19:00 a 20:00
							</p>
						</div>
						<div>
							<p class="titulo--deporte">Fútbol</p>
							<p>
								Lunes y Miércoles de 19:00 a 20:30
							</p>
							<p>
								Martes y Jueves de 19:30 a 21:00
							</p>
						</div>
						<div>
							<p class="titulo--deporte">Dantza</p>
							<p>
								Lunes de 17:30 a 19:00 y Viernes de 18:00 a 19:30
							</p>
						</div>
						<div>
							<p class="titulo--deporte">Baloncesto</p>
							<p>
								Martes y Jueves de 19:00 a 20:30
							</p>
						</div>
						<div>
							<p class="titulo--deporte">Taewkondo</p>
							<p>
								Lunes y Miércoles de 18:00 a 19:30
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}