
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Piscina interior
					</h1>
					<div class="bloque--instalaciones imagen--instalacion">
						<img src="/assets/images/instalaciones/piscina-interior.jpg" alt="Piscina interior" />
					<div>
					<p>
						<span class="titulo--secundario">Calendario: </span>septiembre a junio
						
					</p>
					<p>
						<span class="titulo--secundario">Horario: </span>09:00 - 21:00					
					</p>
					<p>
						La piscina interior estar치 cerrada en temporada de verano. 
					</p>
					<p>
						El club cuenta con 3 tipos de carriles en la piscina interior: 
					</p>
					<ul class="lista-piscinas">
						<li>Carril 1: reservado para las clases de nataci칩n</li>
						<li>Carriles 2 a 4: reservados para nadar</li>
						<li>Carril 5: reservado para jugar</li>
					</ul>
					<p>
						<span class="prohibido">Prohibido </span>dejar sin supervisi칩n a menores que no sepan nadar.
					</p>
					<p>
						<span class="prohibido">Prohibido </span>estar en la piscina sin ba침ador o sin gorro.
					</p>
				</div>
			</div>
		</div>
	</section>


{% endblock %}