body {
  font-family: $font-family-base !important;
  color: $body-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-family: $font-family-base !important;
  color: $selection-text-color;
}
