
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Gimnasio
					</h1>
                    <div class="imagen">
                        <img src="/assets/images/instalaciones/gimnasio.jpg" alt="Gimnasio" />
                    </div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}