
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Gimnasio
					</h1>
					<div class="bloque--instalaciones imagen--instalacion">
						<img src="/assets/images/instalaciones/gimnasio.jpg" alt="Gimnasio" />
					<div>
					<p>
						<span class="titulo--secundario">Horario: </span>9:00 - 21:00
					</p>
					<p>
						<span class="titulo--secundario">Cuota: </span>12€/mes, 30€/mes, 100€/año
					</p>
					<p>
						Debidamente equipado para todo tipo de ejercicios, además de contar con la 
						ayuda de un entrenador personal para quién lo desee.
					</p>
					<p>
						Es necesario inscribirse en portería antes de accedr al gimnasio y le 
						entregarán una llave para entrar. 
					</p>
					<p>
						<span class="prohibido">Prohibida </span>la entrada a menores de 18 años.
					</p>
					<p>
						<span class="prohibido">Prohibido </span>introducir cualquier objeto punzante a la sala.
					</p>
				</div>
			</div>
		</div>
	</section>


{% endblock %}