

<div class="container">
    <h2 class="title">Bloque slider</h2>
    <section class="section o-section">
        <div class="bloque-slide">
            <a href="" alt="Balneario">
                <img class="image-slide" src="../../assets/images/balneario.jpg" alt="Balneario">
            </a>
            <a href="" alt="Descuentos">
                <img class="image-slide" src="../../assets/images/2x1.jpg" alt="Descuentos">
            </a>
            <a href="" alt="Activdades infantiles">
                <img class="image-slide" src="../../assets/images/campamento-urbano.jpg" alt="Actividades infantiles">
            </a>
            <a href="" alt="Verano">
                <img class="image-slide" src="../../assets/images/fiestas.jpg" alt="Verano">
            </a>

            <button class="button-slide button-slide--left" onclick="plusDivs(-1)">&#11207;</button>
            <button class="button-slide button-slide--right" onclick="plusDivs(1)">&#11208;</button>
        </div>
    </section>
    <h2 class="title">Bloque información</h2>
    <section class="section o-section">
        <div class="row">
            <div class="col-lg-3">
                <div class="bloque-media">
                    <img src="../../assets/images/bloque-media/horario.jpg" class="imagen-bloque-media">
                    <h2 class="titulo-media">
                    Horario
                    </h2>
                    <p class="texto-media">
                        Horario instalaciones: 9:00-21:00
                    </p>
                    <p class="texto-media">
                        Horario cafetería: 10:00-22:30 (lunes a jueves); 10:00-00:00 (viernes a domingo y vispera de festivos)
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
