<div class="container">
    <div class="table-responsive u-padding-top">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nombre color
                    </th>
                    <th>
                        Hexadecimal
                    </th>
                    <th>
                        Ejemplo
                    </th>
                <tr>
            </thead>
            <tbody>
                <tr>
                    <td class="nombre">
                        $white
                    </td>
                    <td class="hexadecimal">
                        #fff
                    </td>
                    <td>
                        <div class="color" style="background-color: #fff; border:1px solid #eee"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>