
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Sala spinning
					</h1>
					<div class="bloque--instalaciones imagen--instalacion">
						<img src="/assets/images/instalaciones/sala-spinning.webp" alt="Sala spinning con multitud de bicis estáticas y un espejo al fondo." />
					<div>
					<p>
						<span class="titulo--secundario">Horario: </span>9:00 - 21:00
					</p>
					<p>
						La sala de spinning es una sala llena de bicicletas estáticas. La sala 
						<span class="u-text-transform-uppercase">siempre</span> estará vigilada por un monitor, y por tanto, será 
						necesario reserva previa para acudir. Si no hay ninguna reserva para un día, 
						el monitor podrá tomarse la libertar de cerrar antes dicha sala. 
					</p>
					<p>
						<span class="prohibido">Prohibido </span>comer en la sala.
					</p>
					<p>
						<span class="prohibido">Prohibido </span>entrar si no hay un monitor en ella.
					</p>
					<p>
						<span class="aceptado">Se recomienda </span>llevar una botella de agua y 
						una toalla pequeña
					</p>
				</div>
			</div>
		</div>
	</section>


{% endblock %}