
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Instalaciones
					</h1>
					<div class="bloque--instalaciones">
						<div class="row">
							<a class="col-sm-3">
								<img src="/assets/images/instalaciones/bar.jpg" alt="Bar-Cafetería" />
								<div class="title--instalaciones">Bar-Cafetería</div>
							</a>
							<a class="col-sm-3">
								<img src="/assets/images/instalaciones/piscina-exterior.jpg" alt="Piscina exterior" />
								<div class="title--instalaciones">Piscina exterior</div>
							</a>
							<a class="col-sm-3">
								<img src="/assets/images/instalaciones/piscina-interior.jpg" alt="Piscina interior" />
								<div class="title--instalaciones">Piscina interior</div>
							</a>
							<a href="./gimnasio/" class="col-sm-3">
								<img src="/assets/images/instalaciones/gimnasio.jpg" alt="Gimnasio" />
								<div class="title--instalaciones">Gimnasio</div>
							</a>
							<a class="col-sm-3">
								<img src="/assets/images/instalaciones/campo-futbol.jpg" alt="Campo de fútbol" />
								<div class="title--instalaciones">Campo de fútbol</div>
							</a>
							<a class="col-sm-3">
								<img src="/assets/images/instalaciones/pista-tenis.jpg" alt="Pista de tenis" />
								<div class="title--instalaciones">Pistas de tenis</div>
							</a>
							<a class="col-sm-3">
								<img src="/assets/images/instalaciones/pista-padel.jpg" alt="Pistas de padel" />
								<div class="title--instalaciones">Pistas de padel</div>
							</a>
							<a class="col-sm-3">
								<img src="/assets/images/instalaciones/polideportivo.jpg" alt="Polideportivo" />
								<div class="title--instalaciones">Polideportivo</div>
							</a>
							<a class="col-sm-3">
								<img src="/assets/images/instalaciones/vestuarios.jpg" alt="Vestuarios" />
								<div class="title--instalaciones">Vestuarios</div>
							</a>
							<a class="col-sm-3">
								<img src="/assets/images/instalaciones/solarium.jpg" alt="Solarium" />
								<div class="title--instalaciones">Solarium</div>
							</a>
							<a class="col-sm-3">
								<img src="/assets/images/instalaciones/sala-spinning.jpg" alt="Sala spinning" />
								<div class="title--instalaciones">Sala de spinning</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}