
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Instalaciones
					</h1>
					<div class="bloque--instalaciones">
						<div class="row">
							<a href="./bar-cafeteria/" class="col-sm-3">
								<img src="/assets/images/instalaciones/bar.webp" alt="Espacio con mesas cuadradas con 4 sillas por mesa." />
								<div class="title--instalaciones">Bar-Cafetería</div>
							</a>
							<a href="./piscina-exterior/" class="col-sm-3">
								<img src="/assets/images/instalaciones/piscina-exterior.webp" alt="Piscina exterior con un chorro y un balón verde" />
								<div class="title--instalaciones">Piscina exterior</div>
							</a>
							<a href="./piscina-interior/" class="col-sm-3">
								<img src="/assets/images/instalaciones/piscina-interior.webp" alt="Piscina interior con seis carriles" />
								<div class="title--instalaciones">Piscina interior</div>
							</a>
							<a href="./gimnasio/" class="col-sm-3">
								<img src="/assets/images/instalaciones/gimnasio.webp" alt="Gimnasio con bicis estáticas, máquinas de corres y pesas" />
								<div class="title--instalaciones">Gimnasio</div>
							</a>
							<a href="./campo-futbol/" class="col-sm-3">
								<img src="/assets/images/instalaciones/campo-futbol.webp" alt="Campo de fútbol de hierba artificial" />
								<div class="title--instalaciones">Campo de fútbol</div>
							</a>
							<a href="./pistas-tenis/" class="col-sm-3">
								<img src="/assets/images/instalaciones/pista-tenis.webp" alt="Dos pistas de tenis una roja y otra azul" />
								<div class="title--instalaciones">Pistas de tenis</div>
							</a>
							<a href="./pistas-padel/" class="col-sm-3">
								<img src="/assets/images/instalaciones/pista-padel.webp" alt="Pistas de padel azul en medio de un campo de hierba." />
								<div class="title--instalaciones">Pistas de padel</div>
							</a>
							<a href="./polideportivo/" class="col-sm-3">
								<img src="/assets/images/instalaciones/polideportivo.webp" alt="Polideportivo con porterias de fútbol y gradas amarillas." />
								<div class="title--instalaciones">Polideportivo</div>
							</a>
							<a href="./vestuarios/" class="col-sm-3">
								<img src="/assets/images/instalaciones/vestuarios.webp" alt="Taquillas de un vestuario y un banco con percheros." />
								<div class="title--instalaciones">Vestuarios</div>
							</a>
							<a href="./solarium/" class="col-sm-3">
								<img src="/assets/images/instalaciones/solarium.webp" alt="Solarium con baldosas rojas" />
								<div class="title--instalaciones">Solarium</div>
							</a>
							<a href="./spinning/" class="col-sm-3">
								<img src="/assets/images/instalaciones/sala-spinning.webp" alt="Sala spinning con multitud de bicis estáticas y un espejo al fondo." />
								<div class="title--instalaciones">Sala de spinning</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}