{# ----- HOME ----- #}
{% extends "layouts::/page-indice.twig" %}
{% block page %}

    <div class="container">
        <h2 class="u-margin-top u-title-h2 u-margin-bottom-small">Listado de componentes</h2>
        <ul class="u-margin-bottom-huge">
            <li class="u-margin-bottom-small">
                <a href="page-components/page-bloque/index.html">Bloque</a>
            </li>
            <li class="u-margin-bottom-small">
                <a href="page-components/page-footer/index.html">Footer</a>
            </li>
            <li class="u-margin-bottom-small">
                <a href="page-components/page-header/index.html">Header</a>
            </li>
            <li class="u-margin-bottom-small">
                <a href="page-components/page-botones/index.html">Botones</a>
            </li>
            <li class="u-margin-bottom-small">
                <a href="page-components/page-colores/index.html">Colores</a>
            </li>
            <li class="u-margin-bottom-small">
                <a href="page-components/page-titulos/index.html">Títulos</a>
            </li>
            <li class="u-margin-bottom-small">
                <a href="page-components/page-formularios/index.html">Formularios</a>
            </li>
        </ul>
        <h2 class="u-title-h2 u-margin-bottom-small">Página principal</h2>
        <ul class="u-margin-bottom-huge">
            <li class="u-margin-bottom-small">
                <a href="proyecto-final/home/">Trabajo final</a>
            </li>
        </ul>
    </div>

{% endblock %}
