
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Vestuarios
					</h1>
					<div class="bloque--instalaciones imagen--instalacion">
						<img src="/assets/images/instalaciones/vestuarios.jpg" alt="Taquillas de un vestuario y un banco con percheros" />
					<div>
					<p>
						<span class="titulo--secundario">Horario: </span>8:00 - 23:00
					</p>
					<p>
						Los vestuarios constan de 16 duchas individuales, un espacio de duchas con 
						8 duchas más, 30 cabinas individuales y otras grupales también. Además, 
						existen taquillas para que el usuario pueda guardar sus objetos personales 
						mientras se ducha. Estas taquillas requerirán de un candado para su cierre. 
						Si no tiene candado, podrá conseguirlo en portería por 3€.
					</p>
					<p>
						<span class="prohibido">Prohibido </span>afeitarse o depilarse tanto en 
						las duchas como en las cabinas.
					</p>
					<p>
						<span class="prohibido">Prohibido </span>comer en los vestuarios.
					</p>
				</div>
			</div>
		</div>
	</section>


{% endblock %}