
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Campo de fútbol
					</h1>
					<div class="bloque--instalaciones imagen--instalacion">
						<img src="/assets/images/instalaciones/campo-futbol.jpg" alt="Campo de fútbol" />
					<div>
					<p>
						El campo de fútbol es una instalación que no cierra y que, por lo tanto, siempre 
						estará a disposición del socio. Sin embargo, hay algunas horas del día en el que el campo 
						de fútbol se reservará para entrenamientos. Los horarios de estos entrenamientos los 
						podrá ver <a class="link">aquí.</a> Por otro lado, aunque en el calendario no aparezca, 
						se respetarán los horarios de partidos de fútbol.
					</p>
					<p>
						<span class="prohibido">Prohibido </span>entrar con calzado que pueda dañar el campo.
					</p>
					<p>
						<span class="prohibido">Prohibido </span>comer en el campo de fútbol.
					</p>
					<p>
						<span class="aceptado">Se permite </span>realizar cualquier actividad deportiva en él.
					</p>
				</div>
			</div>
		</div>
	</section>


{% endblock %}