
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Piscina exterior
					</h1>
					<div class="bloque--instalaciones imagen--instalacion">
						<img src="/assets/images/instalaciones/piscina-exterior.jpg" alt="Piscina exterior con un chorro y un balón verde" />
					<div>
					<p>
						<span class="titulo--secundario">Calendario: </span>24 de junio a 12 de septiembre (podría haber cambios según el tiempo)
					</p>
					<p>
						<span class="titulo--secundario">Horario: </span>10:00 - 21:00					
					</p>
					<p>
						La piscina exterior estará abierta en temporada de verano y el club podrá cerrarla 
						días puntuales si el tiempo lo requiere. Además, los miércoles se permitirá 
						introducir balones e hinchables a la piscina de juegos.
					</p>
					<p>
						El club cuenta con 3 piscinas exteriores: 
					</p>
					<ul class="lista-piscinas">
						<li>Piscina de juegos</li>
						<li>Piscina infantil</li>
						<li>Piscina olímpica</li>
					</ul>
					<p>
						<span class="prohibido">Prohibido </span>dejar sin supervisión a menores que no sepan nadar.
					</p>
					<p>
						<span class="prohibido">Prohibido </span>introducir juguetes (<span class="aceptado">excepto</span> en la piscina infantil)
					</p>
					<p>
						<span class="prohibido">Prohibido </span>estar en la piscina sin bañador.
					</p>
				</div>
			</div>
		</div>
	</section>


{% endblock %}