
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Ofertas
					</h1>
					<div class="row">
						<div class="col-md-4">
							<div class="bloque-ofertas">
								<div class="bloque-imagen">
									 <img src="/assets/images/familia.png" alt="Familias" />
								</div>
								<span>Familias</span>
								<p>
									Existen ofertas para familias completas 
									de todo tipo: numerosas, monoparentales, 
									biparentales... 
								</p>
								<a class="btn btn-primary btn--width">
									Ver tarifas
								</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="bloque-ofertas">
								<div class="bloque-imagen">
									 <img src="/assets/images/actividades.png" alt="Familias" />
								</div>
								<span>Actividades</span>
								<p>
									Ofrecemos descuentos para socios que estén 
									apuntados a más de una actividad. 
								</p>
								<a class="btn btn-primary btn--width">
									Ver tarifas
								</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="bloque-ofertas">
								<div class="bloque-imagen">
									 <img src="/assets/images/nuevo.png" alt="Familias" />
								</div>
								<span>Nuevo socio</span>
								<p>
									¡Estás de suerte! Ahora, si te haces 
									socio ahorrarás un 20% en el pago inicial.
								</p>
								<a class="btn btn-primary btn--width">
									Ver tarifas
								</a>
							</div>
						</div>
					</div>
					<p class="parrafo">
						Además, nuestro patrocinadores ofreces descuentos en sus diferentes ámbitos a los socios de nuestro club. 
						Para que la oferta sea efectiva, deberá enseñar su carnet de socio al realizar la compra en alguna de estas 
						entidades. Si la compra se realiza online, deberá solicitar en nuestro club una clave de identificación de su carnet. 
						Esta clave será persona e intransferible, el uso de ella por terceros será motivo de bloqueo de dicha clave. 
					</p>
					<div class="row">
						<div class="col-md-4">
							<div class="bloque-ofertas">
								<div class="bloque-imagen">
									 <img src="/assets/images/elcorteingles.jpg" alt="El Corte Inglés" />
								</div>
								<span>El corte inglés</span>
								<p>
									El Corte Inglés ofrece ofertas en los ámbitos: textil, viajes, calzado y deporte.
								</p>
								<a class="link">
									www.elcorteingles.es
								</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="bloque-ofertas">
								<div class="bloque-imagen">
									 <img src="/assets/images/iberdrola.jpg" alt="Iberdrola" />
								</div>
								<span>Iberdrola</span>
								<p>
									Iberdrola te da la opción de ahorrar entu factura de luz y gas.
								</p>
								<a class="link">
									www.iberdrola.es
								</a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="bloque-ofertas">
								<div class="bloque-imagen">
									 <img src="/assets/images/dia.jpg" alt="Supermercados Dia" />
								</div>
								<span>Supermercados dia</span>
								<p>
									Los supermercados Día ofertan descuentos en diferentes categorías
								</p>
								<a class="link">
									www.dia.es
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}