
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Ofertas
					</h1>
					<div class="row">
						<div class="col-sm-4">
							<img src="../../../assets/images/familia.png">
							<h4 class="title">Familias</h4>
							<div class="u-padding-vertical">
								Existen ofertas para familias completas de todo tipo: numerosas, 
								monoparentales, biparentales...
							</div>
							<a href="../tarifas/#anual" class="btn btn-primary btn--full-width">
								Ver tarifas
							</a>
						</div>
						<div class="col-sm-4">
							<img src="../../../assets/images/actividades.png">
							<h4 class="title">Actividades</h4>
							<div class="u-padding-vertical">
								Ofrecemos descuentos para socias que estén apuntados a más de 
								una actividad.
							</div>
							<a href="../tarifas/#actividades" class="btn btn-primary btn--full-width">
								Ver tarifas
							</a>
						</div>
						<div class="col-sm-4">
							<img src="../../../assets/images/nuevo.png">
							<h4 class="title">Nuevo socio</h4>
							<div class="u-padding-vertical">
								¡Estás de suerte! Ahora, si te haces socio, ahorrarás un 20% en el 
								pago inicial.
							</div>
							<a href="../tarifas/#entrada" class="btn btn-primary btn--full-width">
								Ver tarifas
							</a>
						</div>
					</div>
					<p class="parrafo">
						Además, nuestros patrocinadores ofrecen descuentos en sus diferentes ámbitos 
						a los socios de nuestro club. Para que la oferta sea efectiva, deberá enseñar 
						su carnet de socio al realizar compras en alguna de estas entidades. 
						Si la compra se realiza online deberá solicitar en nuestro club una clave 
						de identificación de su carnet. Esta clave será personal e intransferible, 
						el uso de ella por terceros será motivo de bloqueo de dicha clave.
					</p>
					<div class="row">
						<div class="col-sm-4">
							<img src="../../../assets/images/elcorteingles.jpg">
							<h4 class="title">El corte inglés</h4>
							<div class="u-padding-vertical">
								El Corte Inglés ofrece ofertas en lo ámbitos: textil, viajes, calzado y deportes para 
								socios de nuestro club.
							</div>
							<a href="http://www.elcorteingles.es" target="_blank" class="link">
								www.elcorteingles.es
							</a>
						</div>
						<div class="col-sm-4">
							<img src="../../../assets/images/iberdrola.jpg">
							<h4 class="title">Iberdrola</h4>
							<div class="u-padding-vertical">
								Iberdrola te da la oportunidad de ahorrar en tu factura de luz y gas.
							</div>
							<a href="http://www.iberdrola.es" target="_blank" class="link">
								www.iberdrola.es
							</a>
						</div>
						<div class="col-sm-4">
							<img src="../../../assets/images/dia.jpg">
							<h4 class="title">Supermercados Dia</h4>
							<div class="u-padding-vertical">
								Los Supermercados Dia ofrecen descuentos en diferentes categorías.
							</div>
							<a href="http://www.dia.es" target="_blank" class="link">
								www.dia.es
							</a>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>


{% endblock %}