
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Verano
					</h1>
					<p>
						El recinto de verano se compone de una piscina olímpica, una piscina de 
						juegos y una infantil. En cada una de ellas habrá, al menos, un socorrista 
						en todo momento. Los socorristas irán rotando entre las dos piscinas mayores 
						y en la piscina infantil no habrá socorrista. 
					</p>
					<p>
						Además, también disponemos de un recinto de hierba y un solarium para poder 
						tomar el sol. Todo el material que se encuentre en la hierba es para uso 
						de los socios: sillas, hamacas, sombrillas... Habrá vigilantes constantemente 
						rondando por el club para que se cumplan las normas. También serán ellos 
						a las personas a las que deberéis acudir en caso de duda.
					</p>

					<h2 class="titulo--secundario">
						Horarios verano
					</h2>
					<p>
						Piscinas de 10:00 - 21:00
					</p>
					<p>
						Vestuarios de 9:00 - 23:00
					</p>

					<h2 class="titulo--secundario">
						Normas
					</h2>
					<p>
						<span class="prohibido">Prohibido</span> subir al solarium a menores de 18 años.
					</p>
					<p>
						<span class="prohibido">Prohibido</span> entrar al bar sin camiseta.
					</p>
					<p>
						<span class="prohibido">Prohibido</span> jugar con globos de agua en la hierba.
					</p>
					<p>
						<span class="aceptado">Se permite</span> introducir balones y colchonetas a la piscina 
						únicamente los miércoles.
					</p>

					<h2 class="titulo--secundario">
						Actividades
					</h2>
					<p>
						Las actividades continuan en horario de verano.
					</p>
					<p>
						La continuidad de los deprotes dependerá de los encargados de cada 
						una de las secciones.
					</p>
				</div>
			</div>
		</div>
	</section>


{% endblock %}