
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Verano
					</h1>
					<p>
						El recinto de verano se compone de una piscina olímpica, 
						una piscina de juegos y una infantil.
					</p>
					<p>
						Además, también disponemos de un recinto de hierba y un 
						solarium para poder tomar el sol.
					</p>
					<h2 class="titulo-secundario">
						Horario verano
					</h2>
					<p>
						Piscinas: 10:00-21:00
					</p>
					<p>
						Vestuarios: 9:00-23:00
					</p>
					<p>
						Bar-Restaurante: 10:00-00:00
					</p>
					<p>
						Cocina Restaurante: 12:30-16:00 y 20:00-22:00
					</p>
					<h2 class="titulo-secundario">
						Normas
					</h2>
					<p>
						<span class="prohibido">Prohibido</span> subir al solarium a menores de 18 años.
					</p>
					<p>
						<span class="prohibido">Prohibido</span> entrar al bar sin camiseta.
					</p>
					<p>
						<span class="prohibido">Prohibido</span> jugar con globos de agua en la hierba.
					</p>
					<p>
						<span class="permitido">Se permite</span> introducir balones y colchonetas a la piscina únicamente los <span>miércoles.</span>
					</p>
					<h2 class="titulo-secundario">
						Actividades
					</h2>
					<p>
						Las actividades continuan en el mismo horario que en invierno. Si 
						alguna actividad sufriese algún cambio serían comunicados vía correo 
						electrónico o teléfono móvil.
					</p>
					<p>
						La continuidad de los deportes dependerá de los encargados de cada 
						una de las secciones, para más información contacte con el delegado 
						de la sección correspondiente.
					</p>
				</div>
			</div>
		</div>
	</section>


{% endblock %}