
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Ludoteca
					</h1>
					<div class="u-display-flex">
						<div class="u-padding-right">
							<h2 class="titulo--secundario">
								Horario
							</h2>
							<h3>Octubre a junio</h3>
							<p>
								Viernes de 17:00-20:00
							</p>
							<p>
								Sábados de 17:00-20:00
							</p>
							<h3>Junio a septiembre</h3>
							<p>
								Lunes a Viernes de 10:00-13:00 y de 16:00-20:00
							</p>
							<p>
								Existe la opción de comida.
							</p>
							<h2 class="titulo--secundario">
								Edades
							</h2>
							<p>
								Dirigido a niños y niñas de 4 a 13 años.
							</p>
							<h2 class="titulo--secundario">
								Contacto
							</h2>
							<p>
								Para más información contacten con el teléfono <a class="u-font-bold" href="tel:948909890">948 909 890</a> <span class="u-font-italic">(Marta)</span>
							</p>
							<h2 class="titulo--secundario">
								Tarifas
							</h2>
							<a href="../tarifas/#ludoteca" class="btn btn-primary">
								Ver tarifas
							</a>
						</div>
						<div class="u-margin-top-huge u-margin-left-huge u-display-none-only-mobile" role="img" aria-label="Niños jugando en una ludoteca">
							<div class="imagen">
								<img src="../../assets/images/ludoteca1.webp" alt="Niños jugando y pintando en pequeños juegos">
								<img src="../../assets/images/ludoteca2.webp" alt="Niños pintando con rotuladores sobre un papel en el suelo.">
								<img src="../../assets/images/ludoteca3.webp" alt="Sección infantil con un tobogán, mesas con sillas y un árbol">
								<img src="../../assets/images/ludoteca4.webp" alt="Zona de juegos con mesas, casitas de juguete y una estantería con juegos">
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}