<header class="header" id="top">
    
    <div class="pre-header">
        <a href="/proyecto-final/home/" class="home">
            <img src="/assets/images/logo.png" alt="Logo de Upna Sports" />
        </a>
        <a onclick="abreMenu()" class="icono-menu u-display-none-desktop">
            <img src="/assets/images/menu-hamburguesa.png" alt="Logo de Upna Sports" />
        </a>
    </div>
    <div class="menu-movil u-display-none-desktop">
        <div class="cerrar-menu">
            <a onclick="abreMenu()" alt="Cerrar menú">&times;</a>
        </div>
        <div class="bloque-header--movil bloque-header--actividades">
            <a href="/proyecto-final/actividades" class=" " alt="Enlace a actividades">
                <span class="u-text-transform-uppercase">actividades</span>
            </a>
        </div>
        <div class="bloque-header--movil bloque-header--instalaciones">
            <a href="/proyecto-final/instalaciones/" alt="Enlace a instalaciones">
                <span class="u-text-transform-uppercase">instalaciones</span>
            </a>
        </div>
        <div class="bloque-header--movil bloque-header--tarifas">
            <a href="/proyecto-final/tarifas/" alt="Enlace a tarifas">
                <span class="u-text-transform-uppercase">tarifas</span>
            </a>
        </div>
        <div class="bloque-header--movil bloque-header--actualidad">
            <a href="/proyecto-final/actualidad/" alt="Enlace a actualidad">
                <span class="u-text-transform-uppercase">actualidad</span>
            </a>
        </div>
        <div class="bloque-header--movil bloque-header--reservas">
            <a href="/proyecto-final/reservas/" alt="Enlace a resservas">
                <span class="u-text-transform-uppercase">reservas</span>
            </a>
        </div>
    </div>
    <div class="header-image">
        <div class="header-image__links">
            <a href="/proyecto-final/actividades" class="bloque-header bloque-header--actividades" alt="Enlace a actividades">
                <span class="u-text-transform-uppercase">actividades</span>
            </a>
            <a href="/proyecto-final/instalaciones/" class="bloque-header bloque-header--instalaciones" alt="Enlace a instalaciones">
                <span class="u-text-transform-uppercase">instalaciones</span>
            </a>
            <a href="/proyecto-final/tarifas/" class="bloque-header bloque-header--tarifas" alt="Enlace a tarifas">
                <span class="u-text-transform-uppercase">tarifas</span>
            </a>
            <a href="/proyecto-final/actualidad/" class="bloque-header bloque-header--actualidad" alt="Enlace a actualidad">
                <span class="u-text-transform-uppercase">actualidad</span>
            </a>
            <a href="/proyecto-final/reservas/" class="bloque-header bloque-header--reservas" alt="Enlace a resservas">
                <span class="u-text-transform-uppercase">reservas</span>
            </a>
        </div>
    </div>
</header>
