<header class="header" id="top">
    <div class="pre-header">
        <a href="/proyecto-final/home/" class="home">
            <img src="/assets/images/logo.png" alt="Logo de Upna Sports" />
        </a>
        <a onclick="abreMenu()" class="icono-menu u-display-none-desktop">
            <img src="/assets/images/menu-hamburguesa.png" alt="Logo de Upna Sports" />
        </a>
    </div>
    <div class="header-image">
        <div class="header-image__links">
            <a id="actividades" href="/proyecto-final/actividades" class="bloque-header bloque-header--actividades" alt="Enlace a actividades">
                <span class="u-text-transform-uppercase">actividades</span>
            </a>
            <a href="/proyecto-final/instalaciones/" class="bloque-header bloque-header--instalaciones" alt="Enlace a instalaciones">
                <span class="u-text-transform-uppercase">instalaciones</span>
            </a>
            <a href="/proyecto-final/tarifas/" class="bloque-header bloque-header--tarifas" alt="Enlace a tarifas">
                <span class="u-text-transform-uppercase">tarifas</span>
            </a>
            <a id="actualidad" href="/proyecto-final/actualidad/" class="bloque-header bloque-header--actualidad" alt="Enlace a actualidad">
                <span class="u-text-transform-uppercase">actualidad</span>
            </a>
            <a href="/proyecto-final/reservas/" class="bloque-header bloque-header--reservas" alt="Enlace a reservas">
                <span class="u-text-transform-uppercase">reservas</span>
            </a>
        </div>
    </div>
</header>
