

.titulo {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    @include typi(h1);
    padding-bottom: spacing(base);

    &.titulo-marca {
        color: $secondary;   
    }
}

.title {
    @include typi(h3);
    text-transform: uppercase;
    text-align: center;
    margin-top: spacing(small);
}

.titulo--deporte {
    color:black; 
    font-weight: bold; 
    text-align: center
}

.title--instalaciones {
   color: $instalaciones2;
   text-align: center;
   font-weight: bold; 
   margin-top: spacing(small);
   @include typi('h4');
   margin-bottom: spacing(huge);
}

.title--actividades {
    color: $actividades2;
    font-weight: bold; 
    margin-top: spacing(small);
    @include typi('h3');
    margin-bottom: spacing(huge);
    text-transform: uppercase;
 }

.titulo-balneario {
    font-weight: bold;
    @include typi('h3');
    text-transform: uppercase;
    text-align: center;
}

.titulo--secundario {
    font-weight: bold;
    @include typi('h2');
    text-transform: uppercase;
    margin-top: spacing(large);
    margin-bottom: spacing(small);
}

actividades section{
    @include media($only-mobile) {
        text-align: center;
        img {
            width: 100%;
        }
    }
}
