

.titulo {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    @include typi(h1);
    padding-bottom: spacing(base);

    @include media($only-mobile) {
        margin-bottom: spacing(large);
        margin-top: spacing(large);
    }

    &.titulo-marca {
        color: $secondary;   
    }
}

.title {
    @include typi(h3);
    text-transform: uppercase;
    text-align: center;
}

.titulo--deporte {
    color:black; 
    font-weight: bold; 
    text-align: center
}

.title--instalaciones {
   color: $instalaciones2;
   text-align: center;
   font-weight: bold; 
   margin-top: spacing(small);
   @include typi('h4');
   margin-bottom: spacing(huge);
}

.titulo-balneario {
    font-weight: bold;
    @include typi('h3');
    text-transform: uppercase;
    text-align: center;
}
