.table-responsive {
    @each $breakpoint in map-keys($grid-breakpoints) {
      $next: breakpoint-next($breakpoint, $grid-breakpoints);
      $infix: breakpoint-infix($next, $grid-breakpoints);
  
      &#{$infix} {
        @include media-breakpoint-down($breakpoint) {
          width: 100%;
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;
          -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057
  
          // Prevent double border on horizontal scroll due to use of `display: block;`
          > .table-bordered {
            border: 0;
          }
        }
      }
    }
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  background-color: transparent;
}

.table--reservas {
  margin-top: spacing(large);
  thead, tr {
    th,td:first-child {
      color: black;
      @include typi('base');
      text-transform: uppercase;
    }
  }
  th,td {
    border: 1px solid $gris-oscuro;
    padding: spacing(small);
    text-align: center;
    @include typi('small');
    cursor: pointer;
  }
  tr {
    color: $gris-oscuro;
    .ocupado {
      color: $secondary;
      font-weight: bold;
    }
    &.tachado {
      background-color: $gris-oscuro;
      td:first-child {
        background-color: white;
        text-decoration: line-through;
      }
    }
  }
}

.table--tarifas {
  caption {
    margin-bottom: spacing(large);
  } 
  tbody, thead {
    border: 1px solid black;
  }
  th {
    background-color: $tarifas2;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    @include media($only-mobile) {
      @include typi("small")
    }
  }
  tr {
    &:nth-child(even) {
      background-color: $gris-oscuro;
      color: $white;
    }
    td,th{
      text-align: center;
    }
  }
}