.table-responsive {
    @each $breakpoint in map-keys($grid-breakpoints) {
      $next: breakpoint-next($breakpoint, $grid-breakpoints);
      $infix: breakpoint-infix($next, $grid-breakpoints);
  
      &#{$infix} {
        @include media-breakpoint-down($breakpoint) {
          display: block;
          width: 100%;
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;
          -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057
  
          // Prevent double border on horizontal scroll due to use of `display: block;`
          > .table-bordered {
            border: 0;
          }
        }
      }
    }
}

.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  background-color: transparent;
  margin-left: spacing(huge);
}

.table--tarifas {
 
  tbody{
    border: 1px solid black;
  }
  th {
    background-color: $tarifas2;
    text-transform: uppercase;
    color: $white;
    text-align: center;
  }
  tr {
    &:nth-child(odd) {
      background-color: $gris-oscuro;
      color: $white;
    }
    td,th{
      padding: spacing(small) spacing(huge);
    }
  }
}