

.titulo {
    text-align: center;
    padding-bottom: spacing(base);
    text-transform: uppercase;
    font-weight: bold;
    @include typi(h1);

    @include media($only-mobile) {
        margin-bottom: spacing(large);
        margin-top: spacing(large);
    }

    &.titulo-marca {
        color: $secondary;   
    }
}

.titulo-secundario {
    padding-top: spacing(base);
    padding-bottom: spacing(tiny);
    @include typi(h2);
    text-transform: uppercase;
    font-weight: bold;
}

.prohibido {
    color: $secondary;
    text-transform: uppercase;
    font-weight: bold;
}

.permitido {
    color: $tarifas;
    text-transform: uppercase;
    font-weight: bold;
}

.title {
    margin-top: spacing(large);
    margin-bottom: spacing(large);
    border-bottom: 3px solid $secondary;
}

.titulo--deporte {
    color:black; 
    font-weight: bold; 
    text-align: center
}

.title--instalaciones {
   color: $instalaciones2;
   text-align: center;
   font-weight: bold; 
   margin-top: spacing(small);
   @include typi('h4');
   margin-bottom: spacing(huge);
}