
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Pistas de padel
					</h1>
					<div class="bloque--instalaciones imagen--instalacion">
						<img src="/assets/images/instalaciones/pista-padel.webp" alt="Pistas de padel azul en medio de un campo de hierba." />
					<div>
					<p>
						<span class="titulo--secundario">Horario: </span>09:00 - 22:00
					</p>
					<p>
						Las pistas de padel podrán ser reservadas en portería por cualquier usuario mayor de 18 
						años. Se reservarán unas horas al día para la sección de padel <a class="link">(podrá ver aquí
						el horario de entrenamientos). </a> 
					</p>
					<p>
						Cada socio solo podrá reservar una hora por semana la pista de padel. Si el mismo día la pista sigue 
						vacía, se abrirá también a socios que hayan reservado esa misma semana también. Cualquier problema 
						o desperfecto en la pista será culpa del socio que la haya reservado, haciéndose así responsable 
						de ella.
					</p>
					<p>
						<span class="prohibido">Prohibida </span>la entrada a menores sin acompañante.
					</p>
					<p>
						<span class="prohibido">Prohibido </span>comer en las pistas.
					</p>
				</div>
			</div>
		</div>
	</section>


{% endblock %}