
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Polideportivo
					</h1>
					<div class="bloque--instalaciones imagen--instalacion">
						<img src="/assets/images/instalaciones/polideportivo.jpg" alt="Polideportivo con porterias de fútbol y gradas amarillas" />
					<div>
					<p>
						<span class="titulo--secundario">Horario: </span>09:00 - 22:00
					</p>
					<p>
						El polideportivo estará abierto durante todo el día en el horario indicado 
						anteriormente. Sin embargo, no todo el tiempo estará a disposición del usuario.
						El club reservará unas horas para diferentes actividades como podrían ser: 
						hockey, baloncesto, dantza... y así se lo hará saber a cualquier usuario que 
						solicite dicha información.
					</p>
					<p>
						No será necesario reservar para usar esta instalación, pero si se requiere 
						cuidar el material del polideportivo, así como que los menores estén 
						vigilados por un adulto. 
					</p>
					<p>
						<span class="prohibido">Prohibida </span>la entrada con calzado de calle.
					</p>
					<p>
						<span class="prohibido">Prohibido </span>comer dentro del polideportivo.
					</p>
				</div>
			</div>
		</div>
	</section>


{% endblock %}