
{% extends "layouts::page-indice.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="section o-section--large">
		<div>
			
			{% include 'components::colores.twig' %}
				
		</div>
	</section>


{% endblock %}