
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Actividades
					</h1>
					<actividades>
						{# <actividad>
							<h2>ACTIVIDAD</h2>
						</actividad>
						<deporte>
							<h2>DEPORTE</h2>
						</deporte> #}
					</actividades>
				</div>
			</div>
		</div>
	</section>


{% endblock %}