
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Reservas
					</h1>
					<p class="parrafo">
						Elija primero el día en que quiere hacer la reserva y después escoja la hora e instalación que desee.
					</p>
					<div class="bloque--reservas">
						<button class="primero activated">
							Martes 19
						</button>
						<button class="segundo">
							Miércoles 20
						</button>
						<button class="tercero">
							Jueves 21
						</button>
					</div>
					<table>
						<tr>
							<th>Pádel 1</th>
							<th>Pádel 2</th>
							<th>Pádel 3</th>
							<th>Trinquete 1</th>
							<th>Trinquete 2</th>
							<th>Frontón 1</th>
							<th>Frontón 2</th>
							<th>Frontón 3</th>
							<th>Frontón 4</th>
						</tr>
					</table>
					
				</div>
			</div>
		</div>
	</section>


{% endblock %}