
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Reservas
					</h1>
					<p class="parrafo">
						Elija primero el día en que quiere hacer la reserva y después escoja la hora e instalación que desee.
					</p>
					<div class="bloque--reservas">
						<button class="primero activated">
							Martes 19
						</button>
						<button class="segundo">
							Miércoles 20
						</button>
						<button class="tercero">
							Jueves 21
						</button>
					</div>
					<table class="table table-responsive table--reservas">
						<thead>
							<tr>
								<th></th>
								<th id="padel1">Padel 1</th>
								<th id="padel2">Padel 2</th>
								<th id="padel3">Padel 3</th>
								<th id="tenis1">Tenis 1</th>
								<th id="tenis2">Tenis 2</th>
								<th id="trinquete">Trinquete</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="10">10:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
							<tr>
								<td id="11">11:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
							<tr>
								<td id="12">12:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
							<tr>
								<td id="13">13:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
							<tr>
								<td id="14">14:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
							<tr>
								<td id="15">15:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
							<tr>
								<td id="16">16:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
							<tr>
								<td id="17">17:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
							<tr>
								<td id="18">18:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
							<tr>
								<td id="19">19:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
							<tr>
								<td id="20">20:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
	</section>


{% endblock %}