
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Reservas
					</h1>
					<p class="parrafo">
						Elija primero el día en que quiere hacer la reserva y después escoja la hora 
						e instalación que desee.
						Después de hacer la reserva tendrá que esperar a que la persona encargada 
						verifique su id de usuario y entonces, aparecerá su fecha como ocupada.
						Existe también la opción de realizar las reservas por teléfono en el número 
						<a class="u-font-bold" href="tel:948774373">948 774 373</a>
					</p>
					<div class="bloque--reservas">
						<button class="primero" onclick="cambiaAHoy()">
							
						</button>
						<button class="segundo" onclick="cambiaAManana()">
							
						</button>
						<button class="tercero" onclick="cambiaAPasado()">
							
						</button>
					</div>
					<div class="elija-fecha">
						Elija la fecha en la que desea realizar su reserva
					</div>
					<div class="table-responsive u-display-none">
						<table class="table table--reservas">
							<thead>
								<tr>
									<th></th>
									<th id="padel1">Padel 1</th>
									<th id="padel2">Padel 2</th>
									<th id="padel3">Padel 3</th>
									<th id="tenis1">Tenis 1</th>
									<th id="tenis2">Tenis 2</th>
									<th id="trinquete">Trinquete</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td id="10">10:00</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
								</tr>
								<tr>
									<td id="11">11:00</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
								</tr>
								<tr>
									<td id="12">12:00</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
								</tr>
								<tr>
									<td id="13">13:00</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
								</tr>
								<tr>
									<td id="14">14:00</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
								</tr>
								<tr>
									<td id="15">15:00</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
								</tr>
								<tr>
									<td id="16">16:00</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
								</tr>
								<tr>
									<td id="17">17:00</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
								</tr>
								<tr>
									<td id="18">18:00</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
								</tr>
								<tr>
									<td id="19">19:00</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
								</tr>
								<tr>
									<td id="20">20:00</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
									<td data-toggle="modal" data-target="#modalReservas" class="reservar">Reservar</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div id="modal" class="u-display-none" role="dialog">
						<div class="contenido-modal">
							<span data-dismiss="modal" onclick="abrirModal()" class="cerrar-modal">&times;</span>
							<p>Añade tu id de usuario</p>
							<form>
								<div class="form-group">
									<label for="id-usuario" class="form-label">Número de usuario: </label>
									<input type="number" class="form-control" id="id-usuario" name="id-usuario" required>
								</div>
								<p id="error-formulario" class="error"></p>
							</form>	
							<button id="boton-reserva" class="btn btn-primary">Reservar</button>
							<button data-dismiss="modal" type="button" onclick="abrirModal()" class="btn btn-default">Cancelar</button>
							
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}