
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Reservas
					</h1>
					<p class="parrafo">
						Elija primero el día en que quiere hacer la reserva y después escoja la hora e instalación que desee.
					</p>
					<div class="bloque--reservas">
						<button class="primero activated">
							Martes 19
						</button>
						<button class="segundo">
							Miércoles 20
						</button>
						<button class="tercero">
							Jueves 21
						</button>
					</div>
					<table class="table table-responsive table--reservas">
						<thead>
							<tr>
								<th></th>
								<th>Padel 1</th>
								<th>Padel 2</th>
								<th>Padel 3</th>
								<th>Tenis 1</th>
								<th>Tenis 2</th>
								<th>Trinquete</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>10:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
							<tr>
								<td>11:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
							<tr>
								<td>12:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
							<tr>
								<td>13:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
							<tr>
								<td>14:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
							<tr>
								<td>15:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
							<tr>
								<td>16:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
							<tr>
								<td>17:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
							<tr>
								<td>18:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
							<tr>
								<td>19:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
							<tr>
								<td>20:00</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
								<td class="reservar">Reservar</td>
							</tr>
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
	</section>


{% endblock %}