
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Balneario
					</h1>
					<div class="u-display-flex u-justify-content-space-between">
						<div class="">
							Imagen
						</div>
						<div class="">
							Información
						</div>
						<div class="">
							Normas
						</div>
					</div>
					<div class="u-display-flex">
						<div class="">
							<img src="../../../assets/images/sauna.jpg">
						</div>
						<div class="parrafo">
							Contamos con 2 saunas de diferentes sensaciones y aromas: una sauna seca y otra húmeda. 
							Cada una de ellas tiene uan capacidad de 20 personas. Si el aforo máximo está cuebierto, 
							deberá esperar para entrar en ella
						</div>
						<div class="parrafo">
							Estará <span class="prohibido">prohibida</span> la entrada a esta instalación a menores de 18 años.
						</div>
					</div>
					
					<div class="u-display-flex">
						<div class="">
							<img src="../../../assets/images/spa.jpeg">
						</div>
						<div class="parrafo">
							También ofrecemos una piscina caliente de burbujas. La piscina de burbujas tiene un aforo máximo 
							de 10 personas, por favor, si dicho aforo está completo espere para entrar en ella.
						</div>
						<div class="parrafo">
							Estará <span class="prohibido">prohibida</span> la entrada a esta instalación a menores de 16 años sin vigilancia.
						</div>
					</div>
					<div class="u-display-flex">
						<div class="">
							<img src="../../../assets/images/sauna.jpg">
						</div>
						<div class="parrafo">
							Contamos con 2 saunas de diferentes sensaciones y aromas: una sauna seca y otra húmeda. 
							Cada una de ellas tiene uan capacidad de 20 personas. Si el aforo máximo está cuebierto, 
							deberá esperar para entrar en ella
						</div>
						<div class="parrafo">
							Estará <span class="prohibido">prohibida</span> la entrada a esta instalación a menores de 18 años.
						</div>
					</div>
					<div class="u-display-flex">
						<div class="">
							<img src="../../../assets/images/sauna.jpg">
						</div>
						<div class="parrafo">
							Contamos con 2 saunas de diferentes sensaciones y aromas: una sauna seca y otra húmeda. 
							Cada una de ellas tiene uan capacidad de 20 personas. Si el aforo máximo está cuebierto, 
							deberá esperar para entrar en ella
						</div>
						<div class="parrafo">
							Estará <span class="prohibido">prohibida</span> la entrada a esta instalación a menores de 18 años.
						</div>
					</div>
					<div class="u-display-flex">
						<div class="">
							<img src="../../../assets/images/sauna.jpg">
						</div>
						<div class="parrafo">
							Contamos con 2 saunas de diferentes sensaciones y aromas: una sauna seca y otra húmeda. 
							Cada una de ellas tiene uan capacidad de 20 personas. Si el aforo máximo está cuebierto, 
							deberá esperar para entrar en ella
						</div>
						<div class="parrafo">
							Estará <span class="prohibido">prohibida</span> la entrada a esta instalación a menores de 18 años.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}