
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Balneario y piscina interior
					</h1>
					<p class="parrafo">
						Será obligatorio ducharse antes y después de utilizar tanto el balneario como la piscina cubierta
					</p>
					<div class="u-display-flex">
						<div class="bloque-imagen">
							<img src="/assets/images/sauna.jpg" alt="Saunas" />
						</div>
						<p class="parrafo">
							Contamos con 2 saunas de diferentes sensaciones y aromas. Una sauna seca y otra húmeda.
						
							Cada una de ellas tiene una capacidad de 20 personas. Si el aforo máximo permitido 
							está cubierto, deberá esperar para entrar en ella
						</p>
						<p class="parrafo">
							Estará <span class="prohibido">prohibida</span> la entrada a esta instalación a menores de 18 años
						</p>
					</div>
					<div class="u-display-flex u-margin-top">
						<div class="bloque-imagen">
							<img src="/assets/images/ducha-de-sensaciones.jpg" alt="Ducha de sensaciones" />
						</div>
						<p class="parrafo">
							Disponemos de tres duchas de sensaciones, aromáticas y térmicas. Una de ellas alterna agua fria con agua caliente 
							para favorecer la circulación de la sangre. Las otras dos son duchas aromáticas con agua aromatizada.
						</p>
						<p class="parrafo">
							Estará <span class="prohibido">prohibida</span> la entrada a esta instalación a menores de 18 años.
						</p>
					</div>
					<div class="u-display-flex u-margin-top">
						<div class="bloque-imagen">
							<img src="/assets/images/spa.jpg" alt="Piscina de burbujas" />
						</div>
						<p class="parrafo">
							También ofrecemos una piscina caliente de burbujas.

							La piscina de burbujas tiene un aforo máximo de 10 personas, por favor, si dicho aforo 
							está completo espere para entrar en ella
						</p>
						<p class="parrafo">
							Estará <span class="prohibido">prohibida</span> la entrada a esta instalación a menores de 16 años sin vigilancia.
						</p>
					</div>
					<div class="u-display-flex u-margin-top">
						<div class="bloque-imagen">
							<img src="/assets/images/chorros.jpg" alt="Chorros" />
						</div>
						<p class="parrafo">
							Ofrecemos además una piscina de chorros.

							La piscina de chorros tiene una capacidad de 40 personas, espere a entrar en ella si el aforo está completo.
						</p>
						<p class="parrafo">
							Estará <span class="prohibido">prohibida</span> la entrada a esta instalación a menores de 16 años sin vigilancia.
						</p>
					</div>
					<div class="u-display-flex u-margin-top">
						<div class="bloque-imagen">
							<img src="/assets/images/piedras.jpg" alt="Paseo de piedras" />
						</div>
						<p class="parrafo">
							El club contiene también un paseo de piedras. Este paseo alterna chorros de agua fria y caliente. No se recomienda 
							utilizarlo más de 5 minutos.
						</p>
						<p class="parrafo">
							Estará <span class="prohibido">prohibida</span> la entrada a esta instalación a menores de 18 años.
						</p>
					</div>
					<div class="u-display-flex u-margin-top">
						<div class="bloque-imagen">
							<img src="/assets/images/cubierta.jpg" alt="Piscina cubierta" />
						</div>
						<p class="parrafo">
							Contamos con una piscina olímpica cubierta a disposición del usuario. Durante toda la tarde los dos últimos 
							carriles de la piscina se reservarán para clases de natación y el primer carril, se reserva para juegos. Los demás 
							carriles se usarán para nadar.
						</p>
						<p class="parrafo">
							Estará <span class="prohibido">prohibida</span> la entrada a esta instalación a menores de 12 años sin vigilancia.
						</p>
					</div>
					<div class="u-display-flex u-margin-top">
						<div class="bloque-imagen">
							<img src="/assets/images/masaje.jpg" alt="Masajista" />
						</div>
						<p class="parrafo">
							El club ofrece un servicio de masajes a disposición del usuario. Para ello, el usuario interesado deberá reservar al 
							fisioterapeuta en el número 678-678-678. Consulte precios <a class="link" href="../tarifas">aquí</a>.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}