
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Balneario
					</h1>
					<p class="parrafo">
						Será obligatorio ducharse antes y después de utilizar tanto el balneario como la piscina cubierta.
					</p>		
					<div class="u-display-flex u-justify-content-space-around u-display-none-only-mobile">
						<div class="titulo-balneario">
							Imagen
						</div>
						<div class="titulo-balneario">
							Información
						</div>
						<div class="titulo-balneario">
							Normas
						</div>
					</div>
					<div class="balneario">
						<h2 class="titulo--balneario">Sauna</h2>
						<div class="imagen">
							<img src="../../../assets/images/sauna.jpg" alt="Sauna de madera con bancos de madera que cubren toda la pared.">
						</div>
						<div class="parrafo">
							Contamos con 2 saunas de diferentes sensaciones y aromas: una sauna seca y otra húmeda. 
							Cada una de ellas tiene una capacidad de 20 personas. Si el aforo máximo está cuebierto, 
							deberá esperar para entrar en ella
						</div>
						<div class="parrafo">
							Estará <span class="prohibido">prohibida</span> la entrada a esta instalación a menores de 18 años.
						</div>
					</div>

					<div class="u-display-none-desktop divider"></div>
					
					<div class="balneario">
						<h2 class="titulo--balneario">Spa</h2>
						<div class="imagen">
							<img src="../../../assets/images/spa.jpg" alt="Piscina de burbujas de 10 metros de largo y 3 de ancho.">
						</div>
						<div class="parrafo">
							También ofrecemos una piscina caliente de burbujas. La piscina de burbujas tiene un aforo máximo 
							de 10 personas, por favor, si dicho aforo está completo espere para entrar en ella.
						</div>
						<div class="parrafo">
							Estará <span class="prohibido">prohibida</span> la entrada a esta instalación a menores de 16 años sin vigilancia.
						</div>
					</div>

					<div class="u-display-none-desktop divider"></div>

					<div class="balneario">
						<h2 class="titulo--balneario">Piscina de chorros</h2>
						<div class="imagen">
							<img src="../../../assets/images/chorros.jpg" alt="4 duchas de chorros de diferentes potencias y anchuras.">
						</div>
						<div class="parrafo">
							Ofrecemos además una piscina de chorros. La piscina de chorros tiene 
							una capacidad de 40 personas, espere a entrar en ella si el aforo está completo. 
						</div>
						<div class="parrafo">
							Estará <span class="prohibido">prohibida</span> la entrada a esta instalación a menores de 16 años sin vigilancia.
						</div>
					</div>

					<div class="u-display-none-desktop divider"></div>
					
					<div class="balneario">
						<h2 class="titulo--balneario">Duchas de sensaciones</h2>
						<div class="imagen">
							<img src="../../../assets/images/sensaciones.jpg" alt="Tres duchas individuales de diferentes colores.">
						</div>
						<div class="parrafo">
							Disponemos de tres duchas de sensaciones, aromáticas y térmicas. Una de ellas 
							alterna agua fría con agua caliente para favorecer la circulación de la sangre. 
							Las otras dos son duchas aromáticas con agua aromatizada
						</div>
						<div class="parrafo">
							Estará <span class="prohibido">prohibida</span> la entrada a esta instalación a menores de 18 años.
						</div>
					</div>

					<div class="u-display-none-desktop divider"></div>

					<div class="balneario">
						<h2 class="titulo--balneario">Camino de piedras</h2>
						<div class="imagen">
							<img src="../../../assets/images/piedras.jpg" alt="Camino de piedras que lanza agua de ambos lados.">
						</div>
						<div class="parrafo">
							El club contiene también un paseo de piedras. Este paseo alterna chorros de agua fría y caliente. 
							No se recomienda utilizarlo más de 5 minutos.
						</div>
						<div class="parrafo">
							Estará <span class="prohibido">prohibida</span> la entrada a esta instalación a menores de 18 años.
						</div>
					</div>

					<div class="u-display-none-desktop divider"></div>

					<div class="balneario">
						<h2 class="titulo--balneario">Piscina cubierta</h2>
						<div class="imagen">
							<img src="../../../assets/images/cubierta.jpg" alt="Piscina cubierta con 5 carriles para poder nadar.">
						</div>
						<div class="parrafo">
							Contamos con una piscina olímpica cubierta a disposición del usuario. Durante toda la tarde 
							los dos últimos carriles de la piscina se reservarán para clases de natación y el primer carril 
							se reserva para juegos. Los demás carriles se usarán para nadar.
						</div>
						<div class="parrafo">
							Estará <span class="prohibido">prohibida</span> la entrada a esta instalación a menores de 12 años sin vigilancia.
						</div>
					</div>

					<div class="u-display-none-desktop divider"></div>

					<div class="balneario">
						<h2 class="titulo--balneario">Masajista</h2>
						<div class="imagen">
							<img src="../../../assets/images/masajista.jpg" alt="Dos personas tumbadas recibiendo un masaje.">
						</div>
						<div class="parrafo">
							El club ofrece un servicio de masajes a disposición del usuario. Para ello, el usuario 
							interesado deberá reservar al fisioterapeuta en el número 678 678 678. <a href="../tarifas/#masajista" class="link">Consulte precios 
							aquí.</a>
						</div>
						<div class="parrafo">
							Estará <span class="prohibido">prohibida</span> la entrada a esta instalación a menores de 18 años.
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>


{% endblock %}