
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Solarium
					</h1>
					<div class="bloque--instalaciones imagen--instalacion">
						<img src="/assets/images/instalaciones/solarium.jpg" alt="Solarium con baldosas rojas" />
					<div>
					<p>
						<span class="titulo--secundario">Calendario: </span>24 de junio a 12 de septiembre (podría haber cambios según el tiempo)
					</p>
					<p>
						<span class="titulo--secundario">Horario: </span>09:00 - 21:00	
					</p>
					<p>
						El solarium es un espacio reservado para mayores de edad en el que disfrutar 
						del sol en los meses de verano.
					</p>
					<p>
						<span class="prohibido">Prohibida </span>la entrada a menores de 18 años.
					</p>
					<p>
						<span class="prohibido">Prohibido </span>reservar hamacas durante todo el día
					</p>
				</div>
			</div>
		</div>
	</section>


{% endblock %}