
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="section o-section--large">
		<div class="container">

			<h1 class="titulo titulo-marca">
				Iniciar sesión
			</h1>
			
			<form>
				<div class="form-group">
					<label for="email-tfn" class="form-label">Correo o teléfono </label>
					<input type="email" class="form-control" id="email-tfn" placeholder="666777888 / ejemplo@gmail.com">
				</div>

				<div class="form-group">
					<label for="password" class="form-label">Contraseña </label>
					<input type="password" class="form-control" id="password" placeholder="******">
				</div>
				<div class="botonera">
					<a href="" alt="Aceptar" class="btn btn-primary btn--large u-text-transform-uppercase">
						Acceder
					</a>
					<a href="../home" alt="Cancelar" class="btn btn-default btn--large u-text-transform-uppercase">
						Cancelar
					</a>
				</div>
			</form>
			<p class="teclado">
				<a class="link">Pulse aquí</a> si olvidó su contraseña. 
			</p>	

		</div>
	</section>


{% endblock %}