
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="o-section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">
					<h1 class="titulo titulo-marca">
						Bar - Cafetería
					</h1>
					<div class="bloque--instalaciones imagen--instalacion">
						<img src="/assets/images/instalaciones/bar.jpg" alt="Bar - Cafetería" />
					<div>
					<p>
						<span class="titulo--secundario u-text-color-secondary">Horario (domingo a jueves): </span>10:00 - 23:00
					</p>
					<p>
						<span class="titulo--secundario u-text-color-secondary">Horario (viernes, sábados y vísperas de festivo): </span>10:00 - 02:30
					</p>
					<p>
						<span class="titulo--secundario u-text-color-secondary">Horario (cocina): </span>12:30 - 15:30 y 20:00 - 22:30
					</p>
					<p>
						El bar es para uso exclusivo de los socios. Se podrá reservar la sala de cumpleaños 
						con un día de anterioridad. El socio que reserve dicha sala será el responsable de 
						todas las personas no socias que entren en ella.
					</p>
					<p>
						<span class="prohibido">Prohibida </span>la entrada sin camiseta.
					</p>
					<p>
						<span class="prohibido">Prohibido </span>reservar mesas para comer.
					</p>
					<p>
						<span class="aceptado">Se permite </span>comer comida y bebida del exterior 
						<span class="prohibido">excepto </span>en el restaurante.
					</p>
				</div>
			</div>
		</div>
	</section>


{% endblock %}