
{% extends "layouts::page.twig" %}
{% block page %}

	<!-- CONTENT HTML HERE -->
	<section class="section o-section--large">
		<div class="container">
			<div class="shadow-derecha">
				<div class="shadow-izquierda">

					<h1 class="titulo titulo-marca">
						Registro
					</h1>
					
					<form>
						<div class="form-group">
							<label for="obligatorio" class="form-label">Nombre y Apellidos <span class="form-label--obligatorio">(necesario)</span> </label>
							<input type="text" class="form-control" id="obligatorio" placeholder="María García López" required>
						</div>

						<div class="form-group">
							<label for="email-tfno" class="form-label">Email ó número de teléfono <span class="form-label--obligatorio">(necesario)</span> </label>
							<input type="text" class="form-control" id="email-tfno" placeholder="María García López" required>
						</div>

						<div class="row">
							<div class="col-6">
								<div class="form-group">
									<label for="password" class="form-label">Contraseña <span class="form-label--obligatorio">(necesario)</span></label>
									<input type="password" class="form-control" id="password" placeholder="******" required>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<label for="password" class="form-label">Repetir contraseña <span class="form-label--obligatorio">(necesario)</span></label>
									<input type="password" class="form-control" id="password" placeholder="******">
								</div>
							</div>
						</div>
						<div class="botonera">
							<input type="submit" value="Registrarse" alt="Registrarse" class="btn btn-primary btn--large u-text-transform-uppercase">
								
							<a href="../home" alt="Cancelar" class="btn btn-default btn--large u-text-transform-uppercase">
								Cancelar
							</a>
						</div>
					</form>
					<p class="u-text-color-secondary">
						<span>¡Error!</span> El correo electrónico o teléfono no tienen un buen formato
					</p>
					<p>
						El número de teléfono o correo electrónico será su método de acceso. ¡No lo olvide!
					</p>
				</div>
			</div>
		</div>
	</section>


{% endblock %}